body{
    overflow-x: hidden;
}

.textwidget.custom-html-widget{
	text-align:center;
    @media (min-width:576px) {
        text-align:left;
    }
}
.mobile-responsive{
    .number-text{
        text-decoration: none;
        color: $primary-color;
        font-family: $primary-font;
        font-weight: 600;
        @include font-size(1rem);
        white-space: nowrap;
        margin-top: 10px;
        display: block;
        text-align: center;
        i{
            color: $primary-color;
        }
        a{
            color: $primary-color; 
            text-decoration: none;   
            }
        @media (min-width: 768px){
            display: none;
        }
    }
}

.marquee {
    height: 50px;
    overflow: hidden;
    position: relative;
    background: #fefefe;
    color: #333;
}

.marquee p {
    position: absolute;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;
    transform: translateX(100%);
    animation: scroll-left 20s linear infinite;
    white-space: nowrap;
    inline-size: min-content;
}

@keyframes scroll-left {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

