.footer-sec{
    background:  radial-gradient(ellipse at center, rgba(251,152,47,1) 0%,rgba(247,91,23,1) 100%);
    .footer-widget{
        .footer-widget-title{
            font-family: $primary-font;
            font-weight: 700;
            color: #fff;
            @include font-size(1.3rem);
            padding-top: 40px;
            @media (max-width: 768px){
                text-align: center;
            }
        }
        ul{
            padding: 0;
            margin: 0;
            li{
                list-style-type: none;
                padding-top: 15px;
                a{
                    font-family: $primary-font;
                    font-weight: 500;
                    color: #fff;
                    @include font-size(1rem);
                    text-decoration: none;
                    transition: opacity 0.02s ease-in;
                    &:hover {
                        opacity: 78%;
                    }  
                }
                @media (max-width: 768px){
                    text-align: center;
                }
            }
        }
        .textwidget{
            p{
                padding: 0;
                margin: 0;
                a{
                    font-family: $primary-font;
                    font-weight: 500;
                    color: #fff;
                    @include font-size(0.8rem);
                    text-decoration: none;
                    padding-top: 15px;
                    line-height: 2;
                    transition: opacity 0.02s ease-in;
                    &:hover {
                        opacity: 78%;
                    }   
                }
                @media (max-width: 768px){
                    text-align: center;
                }
            }
        }
    }
    .copy-right{
        .copyright-text{
            font-family: $primary-font;
            font-weight: 400;
            color:#fff;
            @include font-size(1rem);
            padding-top: 20px;
            text-align: center;
            a{
                font-family: $primary-font;
                font-weight: 400;
                color: #fff;
                @include font-size(1rem);
                padding-top: 20px;
                text-align: center;
                text-decoration: none;
                transition: opacity 0.02s ease-in;
                &:hover{
                    text-decoration: underline;
                    opacity: 78%;
                }
                @media (max-width: 768px){
                    text-align: center;
                }
            }
        }
    }
}