.orange-header-menu{
    display: none;
    @media (min-width: 768px){
        display: block;
    }
        .logo-side{
            display: none;
            @media (min-width: 768px){
                display: block;
            }
        }
        .search-bar{
            display: none;
            form{
                position: relative;
                input{
                    width: 100%;
                    padding-right: 50px;
                    font-family: $primary-font;
                    font-weight: 500;
                    @include font-size(0.9rem);
                    color: #969494;
                    padding: 8px 10px;
                    border: 1px solid #000;
                    outline: none;
                    padding-right: 40px;
                }
                i{
                  position:absolute; 
                  right: 10px;
                  top: 11px; 
                
                }
            } 
            @media (min-width: 992px){
                display: block;
            }
        }
        .call-btn-site{
            .number-text{
                padding: 10px 20px;
                text-decoration: none;
                color: #ffffff;
                font-family: $primary-font;
                font-weight: 600;
                @include font-size(1rem);
                background-color: $primary-color;
                display: inline-block;
                white-space: nowrap;
                margin-top: 6px;
                i{
                    color: #ffffff;
                }
                @media (min-width: 1200px){
                    display: none;
                }
            }
        }
    .header-bottom-main{
        display: none;
        
        .orange-menu-side{
            width: 100%;
            flex-grow: 1;
           > ul {
                display: flex;
                justify-content:center;
                gap: 20px;
                width: 100%;
                margin: 0;
                padding: 0;
               > li {
                    list-style-type: none;
                    padding: 15px 0;
                    position: relative;
                  > a {
                        text-decoration: none;
                        color: #ffffff;
                        font-family: $primary-font;
                        font-weight: 600;
                        @include font-size(1.1rem);
                        text-transform: uppercase;
                        padding: 10px 10px;
                        transition: all 0.3s ease-in-out;
                        outline: none;
                        &:hover {
                            color: $primary-color;
                        }
                    }

                    ul{
                        display: none;
                        opacity: 0;
                        position: absolute;
                        top: 100%;
                        left: 0;
                        list-style-type: none;
                        margin: 0;
                        padding: 0;
                        background-color: #fff;
                        box-shadow: 0 1px 3px 0 #efefef;
                        transition: opacity 0.5s ease-in-out;
                        z-index: 10;
                        > li{
                            position: relative;
                            a{
                                padding: 5px 15px;
                                text-decoration: none;
                                color: #222;
                                display: block;
                                font-family: $primary-font;
                                font-weight: 400;
                                text-transform: uppercase;
                                @include font-size(1.1rem);
                                transition: background-color 0.2s ease-in-out;
                                white-space: nowrap;
                                outline: none;
                                &:hover {
                                    background-color: rgb(122, 122, 122);
                                    color: #fff;   
                                }
                            }

                            > ul{
                                top:0;
                                left:100%;
                            }

                            &:hover{
                                > ul{
                                    display: block;
                                    opacity: 1;
                                }
                            }
                        }
                    }
                    &:hover {
                        > ul {
                            display: block;
                            opacity: 1;
                        }
                    }
                }
              @media (min-width:1200px) {
                justify-content: flex-start; 
              }  
            }
        }
        .call-btn-site{
            
            .number-text{
                padding: 10px 20px;
                text-decoration: none;
                color: #ffffff;
                font-family: $primary-font;
                font-weight: 600;
                @include font-size(1rem);
                background-color: $primary-color;
                display: none;
                white-space: nowrap;
                i{
                    color: #ffffff;
                }
                // span{
                //     display: inline-block;
                // }
                @media (min-width: 1200px){
                    display: inline-block;
                }
            }
        }  
        @media (min-width: 768px){
            background-color: #444444;
            display: flex;
            align-items: center;
            padding: 0 77px;
        } 
    }
}