// popup
.share-details {
    position: fixed;
    z-index: 1000;
    top: 200px;
    right: 0;
    padding: 15px;
    background: #f9f9f9;
    box-shadow: grey 0px 0px 5px;
    border-radius: 2px;
    a{
        color: $primary-color;
        outline: none;
    }
   
}
.orangemodalform{
    .modal-content{
        @media (min-width: 768px){
            width: 100%;
        }
        .modal-header{
            .modal-title{
                color: #000;
                font-family: $primary-font;
                font-size: 1em;
            }
        }
        .modal-body{
            form{
                input::placeholder {
                    color: $primary-color;
                    font-family: $primary-font;
                    font-weight: 600;
                }
                input:not(input[type='file']),
                textarea {
                    width: 100%;
                    border: none;
                    border: 2px solid $primary-color;
                    outline: none;
                    margin-bottom: 20px;
                    border-radius: 5px;
                    padding: 15px 10px;
                }
                textarea::placeholder {
                    color: $primary-color;
                    font-family: $secondary-font;
                    font-weight: 400;
                }
                .btn-container{
                    button {
                        background: $primary-color;
                        outline: none;
                        border: none;
                        display: inline-block;
                        padding: 5px 15px;
                        font-family: $primary-font;
                        font-weight: 700;
                        text-align: center;
                        color: #fff;
                        margin-bottom: 0;
                        width: 40%;
                        border-radius: 5px;
                        margin-top: 23px; 
                    }
                }
            }
        }
    }
}

#totop{
    position: fixed;
    bottom: 7px;
    left: 50%;
    transform: translateX(-50%);
    color: $primary-color;
    text-align: center;
    line-height: 1;
    padding: 10px;
    background: #fff;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    box-shadow: 0 0 6px 1px rgb(0 0 0 / 30%);
    z-index: 9999;
    svg{
        fill: $primary-color;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 20px;
        width: 20px;
    }
}

// banner section start
.orange-banner-section{
    // background:  radial-gradient(ellipse at center, rgba(251,152,47,1) 0%,rgba(247,91,23,1) 100%);
    background-image: url(../images/white-bannerl_02.png),url(../images/orange-banner.jpg) ;
    background-position: bottom left , top left;
    background-size: contain , 100% 100%;
    padding-bottom: 27px;
    background-repeat: no-repeat;
    padding-top: 57px;
    position: relative;
    overflow: hidden;
    .orange-banner-text{
        width: 100%;
        text-align: center;
        @media (min-width: 992px){
            width: 50%;
            text-align: center;
        }  
        .orange-banner-first-text{
            margin: 0;
            padding: 0;
            color: #7a2601;
            font-family: $primary-font;
            font-weight: 700;
            @include font-size(2rem);
            margin-bottom: 20px;
        }
        .orange-book-name{
            font-family: $secondary-font;
            font-weight: 700;
            @include font-size(6.2rem);
            color: #f5f5f5;
            text-shadow: -5px -3px 10px #c82500;
            padding-bottom: 40px;
            padding-top: 40px;
        }
        .orange-book-discount-text{
            font-family: $primary-font;
            font-weight: 400;
            color: #030303;
            @include font-size(1.9rem);
            text-shadow: -1px -2px 3px #8b2d02;
            font-style: italic;
            margin-bottom: 100px;
            span:first-child{
                @include font-size(1.7rem);
                text-shadow: -1px -4px 3px #8b2d02;
            }
            span:nth-child(2){
                color: #fce7d1;
            }    
        }
        .banner-btn-container{
            text-align: center;
            width: 100%;
            margin-top: 44px;
            .banner-btn{
                text-decoration: none;
                text-align: center;
                color: #ffffff;
                background-color: #000;
                @include font-size(1.5rem);
                padding: 6px 29px;
                display: inline-block;
                font-family: $primary-font;
                font-weight: 500;
                border-radius: 37px;
                border:1px solid #000000;
                transition: all 0.3s ease-in-out;
                &:hover{
                    background-color: #fff;
                    color: #000;
                    
                }
            }
        }
    }
    picture{
        position: absolute;
        top: 78px;
        right: 58px;
        @media (min-width: 1200px){
            top: 21px;
            right: 282px;
        } 
        .book-img{
            width: 100%;
        }
        display: none;
        @media (min-width: 992px){
            display: block;
        }
    }
}

// breaking news
.breaking-news{
    background-color: $primary-color;
    margin-top: 10px;
    .breaking-news-text{
        text-align: center;
        font-family: $primary-font;
        font-weight: 700;
        @include font-size(1.2rem);
        color: #fff;
    }
}


// orange-second-hero-section
.orange-second-hero-section{
    .orange-second-hero-heading{
        text-align: center;
        font-family: $secondary-font;
        font-weight: 700;
        @include font-size(2.3rem);
        color: $secondary-color;
        margin-top: 44px;
        margin-bottom: 10px;
        text-transform: uppercase;
    }
    .tns-outer {
        position: relative;
        .tns-nav {
            display: none;
            justify-content: center;
            position: absolute;
            bottom: -50px;
            left: 0;
            width: 100%;
            @media (min-width: 768px) {
                display: flex;
            }
            button {
                padding: 7px;
                border: none;
                background-color: #fcbaa2;
                border-radius: 50%;
                box-shadow: none;
                margin-left: 20px;
                &:first-child {
                    margin-left: 0;
                }
                &.tns-nav-active {
                    background-color: $primary-color;
                }
            }
        }
    }

    .slider-container{
        .slides-outer{
            padding:60px 0 38px 0;
            position: relative;
                .rectangle-img{
                    display: none;
                    position: absolute;
                    z-index: 3;
                    &.rectangle-top-left{
                        left: -5vw;
                        top: calc(-5vw + 60px);
                    }
                    &.rectangle-bottom-right{
                        right: -5vw;
                        bottom: calc(-5vw + 60px);
                    }
                    @media (min-width: 1400px){
                        display: block;
                    }
                }
            .slides{
                .slide{
                    
                }
            }
        }  
    }
   
}

// about-us-section
.about-us-section{
    // padding: 30px 0;
    .about-us-main{
        padding-top: 0;
        @media (min-width: 768px){
            padding-top: 90px;
        }
        .about-us-heading{
            font-family: $secondary-font;
            font-weight: 700;
            color: $secondary-color;
            text-align: center;
            @include font-size(2rem);
            letter-spacing: 3px;
            margin-top: 20px;
            text-transform: uppercase;
            @media (min-width: 768px){
                margin-top: 0; 
            }
        }
        .about-us-heading-bottom-text{
            font-family: $secondary-font;
            font-weight: 500;
            color: $primary-color;
            text-align: center;
            @include font-size(1.3rem);
            letter-spacing: 2px;
            padding-bottom: 20px;
        }
        .about-us-text{
            color: #010101;
            font-family: $primary-font;
            font-weight: 500;
           @include font-size(1rem);
            text-align: center;
            line-height: 2;
            @media (min-width:992px){
                text-align: left;
            }
        }
        .about-btn-container{
            text-align: center;
            width: 100%;
            margin-top: 50px;
            margin-bottom: 50px;
            .about-btn{
                text-decoration: none;
                text-align: center;
                color: $primary-color;
                @include font-size(1rem);
                @include padding-top(0.9rem);
                @include padding-right(3.5rem);
                @include padding-bottom(0.9rem);
                @include padding-left(3.5rem);
                background-color: transparent;
                display: inline-block;
                font-family: $primary-font;
                font-weight: 500;
                border-radius: 15px;
                border:4px solid $primary-color;
                transition: all 0.3s ease-in-out;
                text-transform: uppercase;
                &:hover{
                    background-color: $primary-color;
                    color: #fff;
                }
            }
        }
    }
    .about-img{
        display: none;
        @media (min-width:768px){
            width: 100%;
            display: initial;
        }
    }
    .mobile-about-img{
        display: block;
        margin: 0 auto;
        width: 100%;
        @media (min-width:768px){
            display: none;
        }
    }
}

// more-author-section
.more-author-section{
    .more-author-heading{
        text-align: center;
        font-family: $secondary-font;
        font-weight: 700;
        @include font-size(2.3rem);
        color: $secondary-color;
        margin-bottom: 56px;
    }
    
    .slider-container {
        position: relative;
        padding: 0;
        @media (min-width:768px) {
            padding: 2rem 5rem;
        }
        .tns-outer{
            .tns-controls{
                    position: absolute;
                    z-index: 3;
                    transform: translate(-50% ,-50%);
                    top: 50%;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    left: 50%;
                button{
                    background: none;
                    // border: none;
                    height: 50px;
                    width: 50px;
                    border-radius: 50%;
                    box-shadow: none;
                    outline: none;
                    position: relative;
                    border: none;
                    background: $primary-color;
                    color: #fff;
                    i{
                        color: #ffffff;
                        @include font-size(1.3rem);
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                    }
                }
            }
        
        }

        .slides{
            .slide{
                .author-main{
                    position: relative;
                    .image-container{
                        background-color: #010101;
                        // height: 249px;
                        width: 100%;
                        border-top-left-radius: 77px;
                        border-top-right-radius: 44px;
                        border-bottom-right-radius: 77px;
                        border-bottom-left-radius: 44px;
                        // box-shadow: -2px -1px 11px 9px #b5afa9bd;
                        overflow: hidden;
                      .orange-author-img{
                          width: 100%;
                      }
                    }
                    .author-name-text{
                        position: absolute;
                        background-color: change-color($color: #000,$alpha: 0.5);
                        z-index: 3;
                        left: 50%;
                        bottom: 0;
                        transform: translateX(-50%);
                        margin: 0;
                        width: 100%;
                        padding: 15px 0;
                        backdrop-filter: blur(12px);
                        .author-name-para-text{
                          font-family: $primary-font; 
                          font-weight: 500;
                          @include font-size(1.3rem);
                          text-align: center;
                          color: #fefefe;
                          margin: 0;
                        }
                    }
                }
               
            }
        }
    }
}

// icon section
.icon-section{
    background:  radial-gradient(ellipse at center, rgba(251,152,47,1) 0%,rgba(247,91,23,1) 100%);
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: inset 0px 0px 14px #00000057;
    .col{
        padding: 38px 0;
        .icon-img{
            width: 87%;
            display: block;
            margin: 0 auto;
            filter: drop-shadow(2px 4px 6px #92260b);
            @media (min-width:768px){
                width: 61%;
            }
        }   
    }
}

// award-book-section
.award-book-section{
    margin-bottom: 63px;
    padding:0;
    @media (min-width:768px){
        padding: 43px 0; 
    }
    .award-book-heading{
        text-align: center;
        font-family: $secondary-font;
        font-weight: 700;
        color: #1e293b;
        @include font-size(2.2rem); 
        padding-bottom: 20px;   
    }
    .bestseller-book-heading{
        text-align: center;
        font-family: $secondary-font;
        font-weight: 700;
        color: #1e293b;
        @include font-size(2.2rem);
        padding-top: 35px;
    }
    .tns-outer {
        position: relative;
        .tns-nav {
            display: none;
            justify-content: center;
            position: absolute;
            bottom: -50px;
            left: 0;
            width: 100%;
            @media (min-width: 768px) {
                display: flex;
            }
            button {
                padding: 7px;
                border: none;
                background-color: change-color($color: $primary-color, $alpha: 0.5);
                border-radius: 50%;
                box-shadow: none;
                margin-left: 20px;
                &:first-child {
                    margin-left: 0;
                }
                &.tns-nav-active {
                    background-color: $primary-color;
                }
            }
        }
    }
    .slides{
        .slide{
            .slide-main{
                display: flex;
                align-items: center;
                gap: 15px;
                width: 77%;
                margin: 0 auto;
                flex-wrap: wrap;
                justify-content: center;
                @media (min-width:768px) {
                    gap: 85px;
                    display: grid;
                    grid-template-columns: 1fr 3fr;

                    &.reverse{
                        grid-template-columns: 3fr 1fr;
                    }
                }

                .award-book-img{
                    box-shadow:0px -6px 12px 2px #00000057;
                    width: 100%;
                }
                
                .award-book-main{
                    .award-book-second-img{
                        width: 100%;
                        box-shadow:0px -6px 12px 2px #00000057;
                        margin-bottom: 23px;
                        display: block;
                        @media(min-width:992px) {
                            display: none;
                        }
                    }
                    .award-book-contain{
                        background-color: change-color($color: $primary-color, $alpha: 0.16);;
                        @include padding(2.2rem);
                        border-left:8px solid $primary-color;
                        border-bottom: 8px solid $primary-color;
                        filter: drop-shadow(0 10px 8px rgb(0 0 0/0.04)) drop-shadow(0 4px 3px rgb(0 0 0/0.1));
                        margin-bottom: 30px;
                        @media (min-width:768px){
                            margin-bottom: 0;
                        }
                        .award-book-heading-bottom-text{
                            color: #773213;
                            text-align: center;
                            font-family: $primary-font;
                            font-weight: 500;
                            @include font-size(1.2rem); 
                        }
                    }  
                }
            }
        }
    }
    
}

//Contact Section
.orange-homepage-contact{
    background:  radial-gradient(ellipse at center, rgba(251,152,47,1) 0%,rgba(247,91,23,1) 100%);
    box-shadow: inset 0px 0px 14px #00000057;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 50px;
    padding-bottom: 80px;
    .heading{
        .publishing_now{
            margin: 0;
            padding: 10px 0 0 0;
            text-align: center;
            font-family: $secondary-font;
            font-weight: 400;
            font-style: italic;
            @include font-size(3rem);
            color: #ffffff;
            padding-bottom: 50px;
        }
    }
    form {
        width: 100%;

        .form-container {
            margin: 0 auto;

            @media (min-width: 576px) {
                padding: 0;
            }

            @media (min-width: 768px) {
                display: grid;
                grid-template-columns: 1.5fr 1.5fr 1.5fr 1.5fr 1fr;
                grid-gap: 15px;
                justify-content: center;
            }

            input {
                border: none;
                outline: none;
                background: #fff;
                padding: 10px 18px;
                border-radius: 5px;
                font-family: $primary_font;
                font-weight: 400;
                color: $secondary-color;
                width: 100%;
                margin-bottom: 15px;
                @media (min-width: 768px) {
                    margin-bottom: 0;
                }

                &::placeholder {
                    color: $secondary-color;
                }
            }

            button, input[type=submit] {
                border: none;
                display: inline-block;
                width: 100%;
                background: #000;
                color: #fff;
                outline: none;
                font-family: $primary_font;
                font-weight: 400;
                text-transform: uppercase;
                text-align: center;
                padding: 10px;
                font-size: 0.8rem;
                border-radius: 0;
                transition: color .15s ease-in-out, background-color .15s ease-in-out;

                &:hover {
                    text-decoration: none;
                    background: adjust-color($color: #000, $lightness: 20%);
                }
            }
        }
    }
}

// SHOP OUR LATEST COLLECTION section start
.shop-our-section{
    .shop-our-heading{
        text-align: center;
        font-family: $secondary-font;
        font-weight: 700;
        color: #1e293b;
        @include font-size(2rem);
        margin-top: 8px;
    }
    .shop-our-heading-text{
        text-align: center;
        font-family: $secondary-font;
        font-weight: 400;
        color: $primary-color;
        @include font-size(1.1rem);
        margin-bottom: 40px;
        margin-top: 15px;
    }
    .slider-container {
        position: relative;
        padding: 0;
        @media (min-width:768px) {
            padding: 2rem 5rem;
        }
        .tns-outer{
            .tns-controls{
                    position: absolute;
                    z-index: 3;
                    transform: translate(-50% ,-50%);
                    top: 50%;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    left: 50%;
                    pointer-events:none;
                button{
                    background: none;
                    pointer-events: all;
                    height: 40px;
                    width: 40px;
                    border-radius: 50%;
                    box-shadow: none;
                    outline: none;
                    position: relative;
                    border: none;
                    background: #c9c9c9;
                    color: #fff;
                    i{
                        color: #ffffff;
                        @include font-size(1.5rem);
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                    }
                }
            }
        }

        .slides {
            .slide {
                .shop-our-collection {
                    img {
                        height: 100%;
                    }
                }
            }
        }
    }
    .gallery-btn-container{
        text-align: center;
        width: 100%;
        margin-top: 50px;
        margin-bottom: 50px;
        .gallery-btn{
            text-decoration: none;
            text-align: center;
            color: $primary-color;
            @include font-size(1rem);
            @include padding-top(0.9rem);
            @include padding-right(1.8rem);
            @include padding-bottom(0.9rem);
            @include padding-left(1.8rem);
            background-color: transparent;
            display: inline-block;
            font-family: $primary-font;
            font-weight: 500;
            border-radius: 15px;
            border:4px solid $primary-color;
            transition: all 0.3s ease-in-out;
            text-transform: uppercase;
            &:hover{
                background-color: $primary-color;
                color: #fff;
            }
        }
    }
}

// swiper js
// .swiper{
//     margin-top: 116px;
//     margin-bottom: 42px;
//     width: 77%;
//     overflow: visible;
// }
// .mySwiper{
//     height: 500px;
//     .swiper-wrapper{
//         align-items: center;
//         .swiper-slide{
//             filter: blur(2px);
//             img{
//                 width: 232px;
//                 height: 370px;
//                 border-radius: 7px;
//                 box-shadow:0px -6px 12px 2px #00000057;
//             }
//         }
//         .swiper-slide-active{
//             transform: scale(1.2);
//             transition: .4s;
//             filter: blur(0px);
//         }
//     }
// }


// contact us
.contact-us-section{
    background:  radial-gradient(ellipse at center, rgba(251,152,47,1) 0%,rgba(247,91,23,1) 100%);
    box-shadow: inset 0px 0px 14px #00000057;
    .contact-us-text{
        .contact-text{
            margin: 0;
            padding: 10px 0 0 0;
            text-align: center;
            font-family: $secondary-font;
            font-weight: 400;
            font-style: italic;
            @include font-size(3rem);
            color: #ffffff;
        }
        .contact-second-text{
            margin: 0;
            padding: 0;
            text-align: center;
            font-family: $secondary-font;
            font-weight: 400;
            font-style: italic;
            @include font-size(3rem);
            color: #ffffff;
        }
        .contact-us-btn-container{
            text-align: center;
            width: 100%;
            margin-top: 40px;
            margin-bottom: 40px;
            .contact-us-btn{
                text-decoration: none;
                text-align: center;
                color: #ffffff;
                @include font-size(1.3rem);
                padding: 6px 29px;
                background-color: transparent;
                display: inline-block;
                font-family: $primary-font;
                font-weight: 500;
                border-radius: 37px;
                border:2px solid #ffffff;
                transition: all 0.3s ease-in-out;
                text-transform: uppercase;
                &:hover{
                    background-color: #fff;
                    color: $primary-color;
                }
            }
        }
    }
}
// client section
.client-section{
    margin-bottom: 63px;
    margin-top: 114px;
    .tns-outer {
        position: relative;
        .tns-nav {
            display: none;
            justify-content: center;
            position: absolute;
            bottom: -50px;
            left: 0;
            width: 100%;
            @media (min-width: 768px) {
                display: flex;
            }
            button {
                padding: 7px;
                border: none;
                background-color: change-color($color: $primary-color, $alpha: 0.5);
                border-radius: 50%;
                box-shadow: none;
                margin-left: 20px;
                &:first-child {
                    margin-left: 0;
                }
                &.tns-nav-active {
                    background-color: $primary-color;
                }
            }
        }
    }
    .slides-container{
        box-shadow:1px 1px 17px 8px #d5d5d5;
        background-image: url(../images/client-img-jp.jpg);
        background-repeat: no-repeat;
        background-position: right top;
        background-size: 31%;
        padding: 70px 30px;
        .slides{
            .slide{
                .slide-main{
                    display: block;
                    
                    @media (min-width: 992px){
                        display: grid;
                        grid-template-columns: 1fr 6fr;
                        column-gap: 12px;
                    }
                    
                    .image-container{
                        width: 40%;
                        display: flex;
                        align-items: center;
                        margin: 0 auto;
                        @media (min-width: 992px){
                            width: 100%;
                            margin: 0;
                        }
                        .client-image{
                              width: 100%;                                                                     
                        }
                    } 
                    .client-text{
                        font-family: $primary-font;
                        font-weight: 500;
                       @include font-size(1.2rem);
                        color: #444443;
                        text-align: center;
                        letter-spacing: 2px;
                        margin: 0;
                        span{
                            color: #ec6828;
                            font-family: $primary-font;
                            font-weight: 700;
                            @include font-size(1.3rem);
                            padding-top: 48px;
                            display: inline-block;
                        }
                    }
                } 
            }
        }
        
    }
}

// check-out-section
.check-out-section{
    position: relative;
    background:  radial-gradient(ellipse at center, rgba(251,152,47,1) 0%,rgba(247,91,23,1) 100%);
    box-shadow: inset 0px 0px 14px #00000057;
    overflow: hidden;

    &::after {
        content: "Special Offer";
        position: absolute;
        top: 74px;
        background: #fff;
        transform: rotate(305deg);
        width: 315px;
        left: -65px;
        text-align: center;
        padding: 17px 0;
        font-weight: 900;
        text-transform: uppercase;
        @include font-size(1.4rem);
        color: #fa5600;
        display: none;
        @media (min-width: 1200px){
            display: block;
        }
    }

    .check-out-main{
        .check-out-text{
            font-family: $secondary-font;
            font-weight: 400;
            @include font-size(2.2rem);
            font-style: italic;
            color: #fefdfd;
            text-align: center;
            letter-spacing: 5px;
            padding-top: 30px;
        }
        // a{
        //     text-decoration: none;
        //     .check-out{
        //         color: #fad1ac;
        //         font-family: $primary-font;
        //         font-weight: 700;
        //         font-size: 1.5em;
        //         text-align: center;
        //         padding-bottom: 20px;
        //         text-shadow: 1px 4px 3px #8b2d02c7;
        //         transition: all 0.3s ease-in-out;
        //         &:hover{
        //             text-shadow: 1px 2px 3px #8b2d02c7;
        //         }
        //         @media (min-width: 768px){
        //             font-size: 2em;
        //         }
        //     }
        // }
        .check-out-btn-container{
            text-align: center;
            width: 100%;
            margin-top: 40px;
            margin-bottom: 40px;
            .check-out-btn{
                text-decoration: none;
                text-align: center;
                color: #ffffff;
                @include font-size(1.3rem);
                padding: 6px 29px;
                background-color: transparent;
                display: inline-block;
                font-family: $primary-font;
                font-weight: 500;
                border-radius: 37px;
                border:2px solid #ffffff;
                transition: all 0.3s ease-in-out;
                &:hover{
                    background-color: #fff;
                    color: $primary-color;
                }
            }
        }
    }
}


// story to share section start
.story-to-share-section{
    padding-top: 50px;
    padding-bottom: 15px;
    @media (min-width: 768px){
        padding-bottom: 50px;
    }
    .activites-heading{
        color: $secondary-color;
        font-family: $secondary-font;
        font-weight: 700;
        @include font-size(2.4rem);
        text-align: center;
        margin-bottom: 57px;
    }
    .blog-text{
        .blog-link{
            text-decoration: none;
            .card{
                transition: all ease-in-out 0.3s;
                margin-bottom: 15px;
                @media (min-width: 768px){
                    margin-bottom: 0;
                }
                .img-container{
                    overflow: hidden;
                    .card-img-top{
                        transition: transform .2s ease-in-out;
                    }
                    &:hover{
                        .card-img-top{
                            transform: scale(1.2);
                        }  
                    }
                }
                
                .card-body{
                    .card-heading-text{
                       text-align: center;
                       font-family: $primary-font;
                       font-weight: 700;
                       @include font-size(1.6rem);
                       color: $primary-color;
                    }
                    .card-date{
                        text-align: center;
                        font-family: $primary-font;
                        font-weight: 400;
                        @include font-size(1.1rem);
                        color: $secondary-color;
                    }
                    .card-text{
                        text-align: left;
                        font-family: $primary-font;
                        font-weight: 400;
                       @include font-size(1rem); 
                        color: #000000;
                    }
                }
            }
        }
    }
    .blog-btn-container{
            text-align: center;
            width: 100%;
            margin-top: 15px;
            margin-bottom: 15px;
            @media (min-width:768px) {
                margin-bottom: 0;
                margin-top: 44px;
            }
        .blog-btn{
            text-decoration: none;
            text-align: center;
            color: #ffffff;
            background-color: $primary-color;
            @include font-size(1.5rem);
            padding: 6px 29px;
            display: inline-block;
            font-family: $primary-font;
            font-weight: 400;
            border-radius: 37px;
            transition: all 0.3s ease-in-out;
            &:hover{
                background-color: #d74a00;
                color: #fff;
                
            }
        }
    }
}
// social-media-section
.social-media-section{
    padding-bottom: 50px;
    div{
        padding-left: 24px;
        @media (min-width: 768px){
            padding-left: 75px;
        }
        a{
            i{
                @include font-size(4rem);
                color: #030303;
                
            }
            .fa-instagram{
                transition: all 0.3s ease-in-out;
                &:hover{
                    color: 	#E1306C;
                }
            }
            .fa-facebook-square{
                transition: all 0.3s ease-in-out;
                &:hover{
                    color: #4267B2;
                }
            }
            .fa-twitter{
                transition: all 0.3s ease-in-out;
                &:hover{
                    color: #1DA1F2;
                }
            }
            .fa-youtube{
                transition: all 0.3s ease-in-out;
                &:hover{
                    color: #FF0000;
                }
            }
            .fa-linkedin{
                transition: all 0.3s ease-in-out;
                &:hover{
                    color: #0e76a8;
                }
            }
        }
        &:first-child{
            padding-left: 0;
        }
    }
    
}

