// orange-second-hero-section
.orange-second-hero-section{
    padding: 60px 0 60px 0;
    .tns-outer {
        position: relative;
        .tns-nav {
            display: none;
            justify-content: center;
            position: absolute;
            bottom: -50px;
            left: 0;
            width: 100%;
            @media (min-width: 768px) {
                display: flex;
            }
            button {
                padding: 7px;
                border: none;
                background-color: #fcbaa2;
                border-radius: 50%;
                box-shadow: none;
                margin-left: 20px;
                &:first-child {
                    margin-left: 0;
                }
                &.tns-nav-active {
                    background-color: #f75b18;
                }
            }
        }
    }

    .slider-container{
        .slides-outer{
            padding:60px 0 60px 0;
            position: relative;
                .rectangle-img{
                    position: absolute;
                    z-index: 3;
                    &.rectangle-top-left{
                        left: -5vw;
                        top: calc(-5vw + 60px);
                    }
                    &.rectangle-bottom-right{
                        right: -5vw;
                        bottom: calc(-5vw + 60px);
                    }
                }
            .slides{
                .slide{
                    
                }
            }
        }  
    }
}

// about-us-section
.about-us-section{
    padding: 30px 0;
    .about-us-main{
        padding-top: 90px;
        .about-us-heading{
            font-family: $secondary-font;
            font-weight: 700;
            color: #793009;
            text-align: center;
            font-size: 4em;
            letter-spacing: 3px;
            text-transform: uppercase;
        }
        .about-us-heading-bottom-text{
            font-family: $secondary-font;
            font-weight: 500;
            color: #e56f41;
            text-align: center;
            font-size: 1.9em;
            letter-spacing: 2px;
            padding-bottom: 20px;
        }
        .about-us-text{
            color: #010101;
            font-family: $primary-font;
            font-family: 500;
            font-size: 1.2em;
            text-align: left;
            line-height: 2;
        }
        .about-btn-container{
            text-align: center;
            width: 100%;
            margin-top: 44px;
            .about-btn{
                text-decoration: none;
                text-align: center;
                color: #ffffff;
                background-color: #fa5600;
                font-size: 1.5em;
                padding: 6px 29px;
                display: inline-block;
                font-family: $primary-font;
                font-weight: 500;
                border-radius: 37px;
                transition: all 0.3s ease-in-out;
                &:hover{
                    background-color: #9b3b08;
                    color: #fff;
                   
                }
            }
        }
    }
    .about-img{
        width: 100%;
    }
}

// icon section
.icon-section{
    background-color: $primary-color;
    margin-top: 50px;
    margin-bottom: 50px;
    .col{
        padding: 38px 0;
        .icon-img{
            width: 61%;
            display: block;
            margin: 0 auto;
        }   
    }
}

// client section
.client-section{
    margin-bottom: 63px;
    margin-top: 114px;
    .tns-outer {
        position: relative;
        .tns-nav {
            display: none;
            justify-content: center;
            position: absolute;
            bottom: -50px;
            left: 0;
            width: 100%;
            @media (min-width: 768px) {
                display: flex;
            }
            button {
                padding: 7px;
                border: none;
                background-color: change-color($color: $primary-color, $alpha: 0.5);
                border-radius: 50%;
                box-shadow: none;
                margin-left: 20px;
                &:first-child {
                    margin-left: 0;
                }
                &.tns-nav-active {
                    background-color: $primary-color;
                }
            }
        }
    }
    .slides-container{
        box-shadow:1px 1px 17px 8px #d5d5d5;
        background-image: url(../images/client-img-jp.jpg);
        background-repeat: no-repeat;
        background-position: right top;
        background-size: 31%;
        padding: 70px 30px;
        .slides{
            .slide{
                .slide-main{
                    display: flex;
                    align-items: center;
                    .image-container{
                        width: 28%; 
                        display: flex;
                        align-items: center;
                        .client-image{
                              width: 100%;                                                                     
                        }
                    } 
                    .client-text{
                        font-family: $primary-font;
                        font-weight: 500;
                        font-size: 1.4em;
                        color: #444443;
                        text-align: center;
                        letter-spacing: 2px;
                        margin: 0;
                        span{
                            color: #a94904;
                            font-family: $primary-font;
                            font-weight: 700;
                            font-size: 1.5em;
                            padding-top: 48px;
                            display: inline-block;
                        }
                    }
                }   
            }
        }
        
    }
}

// story to share section start
.story-share-section{
    padding-bottom: 50px;
    .tns-outer{
        position: relative;
        .tns-controls{
                position: absolute;
                z-index: 3;
                transform: translate(-50% ,-50%);
                top: 50%;
                width: calc(100% + 121px);
                display: flex;
                justify-content: space-between;
                left: 50%;
            button{
                background: none;
                border: none;
                box-shadow: none;
                outline: none;
                i{
                    color: $primary-color;
                    font-size: 2.5em;
                }
            }
        }
    }
    .activites-heading{
        color: #78310d;
        font-family: $secondary-font;
        font-weight: 400;
        font-size: 2.6em;
        text-align: center;
        margin-bottom: 57px;
    }
    .slides{
        .slide{
            .story-main{
                .image-container{
                    img{
                        
                    }
                }
                .story-text{
                    position: relative;
                    background-color: change-color($color: #fff,$alpha: 0.9);
                    z-index: 3;
                    padding: 15px 15px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: calc(100% - 20px);
                    bottom: 68px;
                    box-shadow: 0px 3px 6px #00000059;
                    margin: 0;
                    .para-text{
                        text-align: center;
                        color: #020202;
                        font-family: $primary-font;
                        font-weight: 400;
                        font-style: italic;
                        font-size: 1.5em;  
                    }
                }
            }
        }
    }
}